* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    margin-bottom: 0px
}
body{
    min-width:1200px
}
.av {
    width: 100%;
    height: 60px;
    background-color: #191d3a;
}
.navgation .hit,.navgation .hit a{
    background-color: #252947;
    color: #fff;
}
.contain {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    background-color: #191d3a;
}
.back{
    position: fixed;
  top: 75px;
    left: 15px;
    font-size: 12px;
    background-color: #c7d6e5;
    border: 1px solid #c7d6e5;
    font-weight: 800;
    z-index: 99999;

}
.back a{
    text-decoration: none;
    color:white;
}
.brand {
    cursor: pointer;
   float: left;
    padding-right: 10px;
    border-right: 1px solid #252947;
}

.navgation {
    width: 630px;
    height: 60px;
    float: left;
    vertical-align: bottom;
    position: relative;
    left: -4px;
    margin-bottom: 0;
}

.navgation li {
    float: left;
    width: 99px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-right: 1px solid #252947;
}

.navgation li a {
    color: #818496;
    text-decoration: none;
}

.navgation li a:hover {
    color: white;
}

.btn-self {
    float: left;
    position: relative;
    left: -5px;
    padding: 6px 18px;
    margin-top:15px; 
    margin-right: 15px;
}
.btn-self a{
    text-decoration: none;
    color:#fff;
}
.txt-contain {
    float: left;
    width: 48px;
    height: 60px;
   
    text-align: center;
    line-height: 60px;
    
}

.txt-contain span {
    cursor: pointer;
    float: left; 
    color: #2b503c;
}

.txt-contain .txt-color {
    color: #38b774;
    margin-right: 10px
}

.main {
    width: 1200px;
    margin: 0 auto;
}

.aboutbanner {
    width: 100%;
    height: 254px;
    background: url('../img/aboutbanner.jpg')no-repeat;
    background-size: 100%;
}

.foot {
    height: 191px;
}

.foot-contain {
    height: 100%;
    color: #6c6e7e;
    font-size: 12px;
    position: relative;
    background-color: #191d3a;
}

.foot-contain p {
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin: 20px 0;
}

.foot-contain p span {
    transition: color .3s;
}

.foot-contain p span:hover {
    color: white
}

.gov {
    width: 36px;
    height: 50px;
    display: inline-block;
    background: url('../img/govIcon.gif') no-repeat;
    background-size: 100%;
    position: absolute;
    right: 425px;
    top: 100px;
    cursor: pointer;
}

.totop {
    position: fixed;
    bottom: 75px;
    right: 15px;
    font-size: 12px;
    background-color: #c7d6e5;
    border: 1px solid #c7d6e5;
    font-weight: 800;
    z-index: 99999;
}

.container-top {
    margin-top: 15px;
    border-bottom: 1px solid #c7d6e5;
    padding-bottom: 35px;
}

.container-top .left {
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #444866;
    padding-left: 30px;
    background: url('../img/location.png') no-repeat 0 -45px;
}

.container-top .right {
    text-align: center;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    float: right;
}

.container-top .right img {
    position: relative;
    top: -2px
}

.container-top .right span {
    display: inline-block;
    padding-left: 15px;
    margin-left: 5px;
    text-decoration: none;
    color: #444866;
}

.right-com {
    background: url('../img/icon.png')no-repeat 0 -140px
}

.container-top .right .right-com:hover {
    color: #38b774;
}

.contianer-main {
    color: #444866;
    display: flex;
}

.contianer-mainLeft {
    width: 235px;
    height: 405px;
    margin-top: 25px;
    float: left;
    color: #444866;
}

.contianer-mainLeft li {
    width: 230px;
    height: 71px;
    border-bottom: 1px solid #c7d6e5;
    padding: 15px 0 15px 3px;
    transition: all .3s;
}

.contianer-mainLeft li:hover {
    color: #38b774;
}

.contianer-mainLeft li em {
    font-style: normal;
}

.contianer-mainLeft h3 {
    margin: 0;
}

.contianer-mainRight {
    flex: 1;
    float: right;
    padding-left: 45px;
    margin-top: 25px;
    color: #444866;
    min-width: 900px;
}

.introduction {
    padding-left: 45px;
}

.introduction p,
.distribution-main p,
.distribution-foot p {
    text-indent: 28px;
    margin-bottom: 30px;
    font-size: 1.166em;
    line-height: 2.4;
}

.history {
    font: 1.166em/2.6 "Microsoft YaHei";
}

.history dt {
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    background: url('../img/icon.png') no-repeat 0 -90px;
}

.history dd {
    padding-left: 20px;
    margin: 20px 0;
}

.history .impor {
    color: #38b774;
}

.distribution h2 {
    text-align: center;
    margin-top: 0px;
}

.distribution-main {
    margin-bottom: 30px;
    border-bottom: 1px solid #c7d6e5;
}

.distribution-main h3,
.distribution-foot h3 {
    text-align: center;
    margin-top: 0px;
    color: #c7d6e5;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 18px;
}

.distribution-main img {
    position: relative;
    left: 50px;
}

.distribution-foot h5 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding-left: 17px;
    background: url('../img/dot.png') no-repeat 0 3px;
}

.company ul li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 85px;
}

.culture li {
    height: 162px;
    border-bottom: 1px solid #c7d6e5;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.culture li .pic {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 50px
}

.culture li .pic1 {
    background: url('../img/cul_icon.png')no-repeat;
}

.culture li .pic2 {
    background: url('../img/cul_icon.png')no-repeat 0 -250px;
}

.culture li .pic3 {
    background: url('../img/cul_icon.png')no-repeat 0 -500px;
}

.culture li .pic4 {
    background: url('../img/cul_icon.png')no-repeat 0 -750px;
}

.culture li .nopic {
    float: left;
}

.culture .nopic1 {
    height: 270px;
}

.culture .nopic2 {
    height: 270px;
}

.culture li .nopic p {
    font-size: 1.166em;
    line-height: 2;
    clear: both;
}

.culture li h5 {
   float: left;
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
}

.culture li h5 em {
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
}

.culture li h5 .emcolor1 {
    color: #f39800;
}

.culture li h5 .emcolor2 {
    color: #38b774;
}

.culture li h5 .emcolor3 {
    color: #6672ca;
}

.culture li h5 .emcolor4 {
    color: #da6c54;
}

.direct {
    background: url('../img/arrow.png')no-repeat right;
}

.active {
    color: #38b774;
}

.contact ul li {
    height: 250px;
    background: rebeccapurple;
    margin-bottom: 20px;
}